body {
    padding-bottom: 20px;
    padding-top: 50px;
}

.navbar {
    background-color: #4a8fcb;
}


.btn-primary {
    background-color: #4a8fcb;
}

.jumbotron {
    padding-top: 30px;
    background-color: #eee;
}

/*#basic-addon3 {*/
    /*background-color: #4a8fcb;*/
    /*color: white;*/
/*}*/

